main.aux
content.aux
main.bbl
main.run.xml
.DS_Store
content.log
main.bcf
main.synctex.gz
LICENSE
content.pdf
main.blg
_minted-main
main.log
main.toc
config.aux
main.out
main.xwm
.DS_Store
fig/.gitignore
settings/packages.aux
settings/preferences.aux
templates/FiraCode-Regular.otf
templates/bibpage.aux
templates/titlepage.aux
templates/tocpage.aux
